body {
  height: 100%;
  width: 100%;
  background-color: whitesmoke;
}

.App {
  text-align: center;
  padding: 1vh 1vh 1vh 1vh;
}

.Board {
  display: grid;
  grid-template-columns: repeat(20, 4vh);
  grid-template-rows: repeat(20, 4vh);
  grid-column-gap: 0;
  grid-row-gap: 0;
}
